<?xml version="1.0"?>
<launch>


	<node pkg="exploration" type="vis_next" name="vis_next" output="screen"> </node>
    <node pkg="exploration" type="exploration_node" name="exploration" output="screen">
		<param name="xFiltering" value="true" />
		<param name="yFiltering" value="true" />
		<param name="zFiltering" value="true" />
		<param name="publish_the_map" value="false" />
		<param name="resolution" value="0.4" />
		<param name="cloud_in" value="/hummingbird/velodyne_points" />
		
		<param name="distance" value="8" />  <!-- Frontiers clearing radius -->

		<param name="frame_id" type="string" value="world" />

		
		<param name="sensor_model/max_range" value="10" />  <!-- maximum range to integrate (speedup exploration!) -->

		<remap from="cloud_in" to="/hummingbird/velodyne_points" /> <!-- data source to integrate (PointCloud2) -->

		<param name="number_of_unknowns" value="10" />

	</node>

    <node pkg="exploration" type="frontier_selection_node" name="frontier_selection" output="screen">
		<!-- Constants for the weighting functions -->
        <param name="height_constant" value= "1" />
		<param name="angle_constant" value= "5" />
		<param name="distance_constant" value= "5" />
		<param name="local_range" value= "13" />

        <!-- Resolution of the voxels in rviz -->
		<param name="resolution" value="0.4" />

        <!-- Field of View angle in flight direction -->
        <param name="fov_angle" value="40" />

        <param name="frontier_topic" value="frontiers" />

		<param name="sensor_range" value="14" />

		<param name="frame_id" type="string" value="world" />

	</node>


    
</launch>




